<div class="well well-lg">
  <script type="text/javascript">
    navigator.geolocation.getCurrentPosition(onSuccess, onError);
    function onSuccess(position){
      console.log({
        latitude: position.coords.latitude,
        longitude: position.coords.longitude
      })
      return {
        latitude: position.coords.latitude,
        longitude: position.coords.longitude
      };
    }
    function onError(position){
      return false;
    }
  </script>
  <% Flip.all.order('rating IS NULL, rating DESC').map do |flip| %>
  <div id="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <% if flip[:rating].to_f > 0 %><span class="badge"><%= flip[:rating]%></span>&nbsp;<% end %>
        <a href="<%=flip[:url]%>" class="hidden-link-white"><%= flip[:name]%></a>
      </div>
      <table class="table">
        <% flip.bars.map do |bar| %>
        <tr>
          <td>
            <a href="<%=bar[:url]%>" class="flipper_bar hidden-link-black" data-toggle="tooltip" data-placement="right" title="<%= bar[:address] %>">
              <%= bar[:name] %>
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <% end %>
</div>

<script type='text/javascript'>$('.hidden-link-black').tooltip()</script>